<!DOCTYPE html>
<head>
  <title>Eunice for CS 225</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='logo.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='logo.png') }}" class="icon" />
  <h3>Your Personal Writing Assistant</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Type your question" required />
    <input type="submit" value="Ask your question" />
      <!-- <A href="https://www.juandavidcampolargo.com/" target="_blank" rel="noopener noreferrer" >chat Information</a>.</p> -->


  </form>
  {% if result %}
  <!-- <div class="result">{{ result }}</div> -->
  <div class="result">{{result}}</div>
  {% endif %}
</body>

